@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-top: 80px;
  margin-left: 120px;
  margin-right: 120px;
  background-color: #16171b;
  color: white;
}

.header {
  margin: 120px 120px 250px 120px
}

.description-text {
  line-height: 20px;
}
