@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.Status {
    text-transform: uppercase;
    position: relative;
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.Title {
    position: relative;
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.Title {
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.Avatar {
    box-shadow: 3000px #191919;
    border-radius: 50%;
}
